<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <style>
        .link {
            display: block;
            margin-top: 10px;
            padding: 20px;
            border: rebeccapurple 1px solid;
            border-radius: 10px;
            max-width: 300px;
            text-align: center;
        }

        td, th {
            padding: 5px 10px 5px 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Books</h1>
    <form th:action="@{/books/search}" method="get" class="form">
        <label for="search">Search books by author name</label>
        <input type="text" th:name="query" id="search">
        <button type="submit">Search</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Publication date</th>
                <th>Page count</th>
                <th>Deleted</th>
                <th>Lending count</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.author.firstName} + ' ' + ${book.author.lastName}">Author</td>
                <td th:text="${book.category.name}">Category</td>
                <td th:text="${book.publicationDate}">Publication date</td>
                <td th:text="${book.pageCount}">Page count</td>
                <td th:text="${book.isDeleted}">Deleted</td>
                <td th:text="${book.getLendingsCount()}">Lending count</td>
                <td>
                    <a th:href="@{'/books/edit/' + ${book.id}}">Edit</a>
                </td>
                <td>
                    <a th:href="@{'/books/delete/' + ${book.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="link" th:href="@{/books/new}">Add book</a>
</body>
</html>